{
  "openapi": "3.0.1",
  "info": {
    "title": "Azure API Center",
    "description": "Azure API Center Resource Provider.",
    "version": "2024-03-01T00:00:00.000Z",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Services"
    },
    {
      "name": "MetadataSchemas"
    },
    {
      "name": "Workspaces"
    },
    {
      "name": "Apis"
    },
    {
      "name": "ApiVersions"
    },
    {
      "name": "ApiDefinitions"
    },
    {
      "name": "Deployments"
    },
    {
      "name": "Environments"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiCenter/services/{serviceName}/workspaces/{workspaceName}/apis": {
      "get": {
        "tags": [
          "Apis"
        ],
        "description": "Returns a collection of APIs.",
        "operationId": "Apis_List",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to use for this operation.",
            "required": true,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription. The value must be an UUID.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group. The name is case insensitive.",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of Azure API Center service.",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9-]{3,90}$",
              "type": "string"
            }
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the workspace.",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9-]{3,90}$",
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter parameter.",
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method",
              "x-ms-client-name": "filter"
            },
            "x-ms-parameter-location": "method",
            "x-ms-client-name": "filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "value"
                  ],
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "description": "The Api items on this page",
                      "readOnly": true,
                      "items": {
                        "properties": {
                          "properties": {
                            "required": [
                              "kind",
                              "title"
                            ],
                            "type": "object",
                            "properties": {
                              "title": {
                                "maxLength": 50,
                                "minLength": 1,
                                "type": "string",
                                "description": "API title."
                              },
                              "kind": {
                                "type": "string",
                                "description": "The kind of the API",
                                "enum": [
                                  "rest",
                                  "graphql",
                                  "grpc",
                                  "soap",
                                  "webhook",
                                  "websocket"
                                ],
                                "x-ms-enum": {
                                  "name": "ApiKind",
                                  "modelAsString": true,
                                  "values": [
                                    {
                                      "name": "rest",
                                      "value": "rest",
                                      "description": "A Representational State Transfer Api"
                                    },
                                    {
                                      "name": "graphql",
                                      "value": "graphql",
                                      "description": "A Graph query language Api"
                                    },
                                    {
                                      "name": "grpc",
                                      "value": "grpc",
                                      "description": "A gRPC Api"
                                    },
                                    {
                                      "name": "soap",
                                      "value": "soap",
                                      "description": "A SOAP Api"
                                    },
                                    {
                                      "name": "webhook",
                                      "value": "webhook",
                                      "description": "Web Hook"
                                    },
                                    {
                                      "name": "websocket",
                                      "value": "websocket",
                                      "description": "Web Socket"
                                    }
                                  ]
                                }
                              },
                              "description": {
                                "maxLength": 1000,
                                "type": "string",
                                "description": "Description of the API."
                              },
                              "summary": {
                                "maxLength": 200,
                                "type": "string",
                                "description": "Short description of the API."
                              },
                              "lifecycleStage": {
                                "type": "string",
                                "description": "The stage of the Api development lifecycle",
                                "enum": [
                                  "design",
                                  "development",
                                  "testing",
                                  "preview",
                                  "production",
                                  "deprecated",
                                  "retired"
                                ],
                                "x-ms-enum": {
                                  "name": "LifecycleStage",
                                  "modelAsString": true,
                                  "values": [
                                    {
                                      "name": "design",
                                      "value": "design",
                                      "description": "design stage"
                                    },
                                    {
                                      "name": "development",
                                      "value": "development",
                                      "description": "development stage"
                                    },
                                    {
                                      "name": "testing",
                                      "value": "testing",
                                      "description": "testing stage"
                                    },
                                    {
                                      "name": "preview",
                                      "value": "preview",
                                      "description": "In preview"
                                    },
                                    {
                                      "name": "production",
                                      "value": "production",
                                      "description": "In production"
                                    },
                                    {
                                      "name": "deprecated",
                                      "value": "deprecated",
                                      "description": "deprecated stage"
                                    },
                                    {
                                      "name": "retired",
                                      "value": "retired",
                                      "description": "Retired stage"
                                    }
                                  ]
                                }
                              },
                              "termsOfService": {
                                "required": [
                                  "url"
                                ],
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "maxLength": 200,
                                    "type": "string",
                                    "description": "URL pointing to the terms of service.",
                                    "format": "uri"
                                  }
                                },
                                "description": "Terms of service for the API."
                              },
                              "externalDocumentation": {
                                "maxItems": 20,
                                "type": "array",
                                "description": "The set of external documentation",
                                "items": {
                                  "required": [
                                    "url"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "title": {
                                      "maxLength": 50,
                                      "type": "string",
                                      "description": "Title of the documentation."
                                    },
                                    "description": {
                                      "maxLength": 500,
                                      "type": "string",
                                      "description": "Description of the documentation."
                                    },
                                    "url": {
                                      "maxLength": 200,
                                      "type": "string",
                                      "description": "URL pointing to the documentation.",
                                      "format": "uri"
                                    }
                                  },
                                  "description": "Additional, external documentation for the API."
                                },
                                "x-ms-identifiers": []
                              },
                              "contacts": {
                                "type": "array",
                                "description": "The set of contacts",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "maxLength": 100,
                                      "type": "string",
                                      "description": "Name of the contact."
                                    },
                                    "url": {
                                      "maxLength": 200,
                                      "type": "string",
                                      "description": "URL for the contact.",
                                      "format": "uri"
                                    },
                                    "email": {
                                      "maxLength": 100,
                                      "type": "string",
                                      "description": "Email address of the contact."
                                    }
                                  },
                                  "description": "Contact information"
                                },
                                "x-ms-identifiers": []
                              },
                              "license": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "maxLength": 100,
                                    "type": "string",
                                    "description": "Name of the license."
                                  },
                                  "url": {
                                    "maxLength": 200,
                                    "type": "string",
                                    "description": "URL pointing to the license details. The URL field is mutually exclusive of the\nidentifier field.",
                                    "format": "uri"
                                  },
                                  "identifier": {
                                    "maxLength": 50,
                                    "type": "string",
                                    "description": "SPDX license information for the API. The identifier field is mutually\nexclusive of the URL field.",
                                    "format": "uri"
                                  }
                                },
                                "description": "The license information for the API."
                              },
                              "customProperties": {
                                "type": "object",
                                "description": "The custom metadata defined for API catalog entities."
                              }
                            },
                            "description": "API properties."
                          }
                        },
                        "description": "API entity.",
                        "allOf": [
                          {
                            "title": "Proxy Resource",
                            "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
                            "allOf": [
                              {
                                "title": "Resource",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
                                    "format": "arm-id",
                                    "readOnly": true
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the resource",
                                    "readOnly": true
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
                                    "readOnly": true
                                  },
                                  "systemData": {
                                    "type": "object",
                                    "properties": {
                                      "createdBy": {
                                        "type": "string",
                                        "description": "The identity that created the resource."
                                      },
                                      "createdByType": {
                                        "type": "string",
                                        "description": "The type of identity that created the resource.",
                                        "enum": [
                                          "User",
                                          "Application",
                                          "ManagedIdentity",
                                          "Key"
                                        ],
                                        "x-ms-enum": {
                                          "name": "createdByType",
                                          "modelAsString": true
                                        }
                                      },
                                      "createdAt": {
                                        "type": "string",
                                        "description": "The timestamp of resource creation (UTC).",
                                        "format": "date-time"
                                      },
                                      "lastModifiedBy": {
                                        "type": "string",
                                        "description": "The identity that last modified the resource."
                                      },
                                      "lastModifiedByType": {
                                        "type": "string",
                                        "description": "The type of identity that last modified the resource.",
                                        "enum": [
                                          "User",
                                          "Application",
                                          "ManagedIdentity",
                                          "Key"
                                        ],
                                        "x-ms-enum": {
                                          "name": "createdByType",
                                          "modelAsString": true
                                        }
                                      },
                                      "lastModifiedAt": {
                                        "type": "string",
                                        "description": "The timestamp of resource last modification (UTC)",
                                        "format": "date-time"
                                      }
                                    },
                                    "description": "Metadata pertaining to creation and last modification of the resource."
                                  }
                                },
                                "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
                                "x-ms-azure-resource": true
                              }
                            ]
                          }
                        ]
                      }
                    },
                    "nextLink": {
                      "type": "string",
                      "description": "The link to the next page of items",
                      "format": "uri",
                      "readOnly": true
                    }
                  },
                  "description": "The response of a Api list operation."
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error response",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "The error code.",
                          "readOnly": true
                        },
                        "message": {
                          "type": "string",
                          "description": "The error message.",
                          "readOnly": true
                        },
                        "target": {
                          "type": "string",
                          "description": "The error target.",
                          "readOnly": true
                        },
                        "details": {
                          "type": "array",
                          "description": "The error details.",
                          "readOnly": true,
                          "x-ms-identifiers": [
                            "message",
                            "target"
                          ],
                          "items": {}
                        },
                        "additionalInfo": {
                          "type": "array",
                          "description": "The error additional info.",
                          "readOnly": true,
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The additional info type.",
                                "readOnly": true
                              },
                              "info": {
                                "type": "object",
                                "properties": {},
                                "description": "The additional info.",
                                "readOnly": true
                              }
                            },
                            "description": "The resource management error additional info."
                          },
                          "x-ms-identifiers": []
                        }
                      },
                      "description": "The error detail."
                    }
                  },
                  "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Apis_ListByWorkspace": {
            "operationId": "Apis_List",
            "title": "Apis_ListByWorkspace",
            "parameters": {
              "resourceGroupName": "contoso-resources",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "serviceName": "contoso",
              "workspaceName": "default",
              "api-version": "2024-03-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "type": "Microsoft.ApiCenter/services/environments",
                      "id": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/contoso-resources/providers/Microsoft.ApiCenter/services/contoso/workspaces/default/apis/echo-api",
                      "name": "echo-api",
                      "systemData": {
                        "createdAt": "2023-07-03T18:27:09.128871Z",
                        "lastModifiedAt": "2023-07-03T18:27:09.1288716Z"
                      },
                      "properties": {
                        "title": "Echo API",
                        "description": "A simple HTTP request/response service.",
                        "lifecycleStage": "design",
                        "kind": "rest",
                        "termsOfService": {
                          "url": "https://contoso.com/terms-of-service"
                        },
                        "license": {
                          "url": "https://contoso.com/license"
                        },
                        "externalDocumentation": [
                          {
                            "title": "Onboarding docs",
                            "url": "https://docs.contoso.com"
                          }
                        ],
                        "customProperties": {
                          "author": "John Doe"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActionType": {
        "type": "string",
        "description": "The type of action",
        "enum": [
          "Internal"
        ],
        "x-ms-enum": {
          "name": "ActionType",
          "modelAsString": true,
          "values": [
            {
              "name": "Internal",
              "value": "Internal",
              "description": "an internal action"
            }
          ]
        }
      },
      "Api": {
        "properties": {
          "properties": {
            "required": [
              "kind",
              "title"
            ],
            "type": "object",
            "properties": {
              "title": {
                "maxLength": 50,
                "minLength": 1,
                "type": "string",
                "description": "API title."
              },
              "kind": {
                "type": "string",
                "description": "The kind of the API",
                "enum": [
                  "rest",
                  "graphql",
                  "grpc",
                  "soap",
                  "webhook",
                  "websocket"
                ],
                "x-ms-enum": {
                  "name": "ApiKind",
                  "modelAsString": true,
                  "values": [
                    {
                      "name": "rest",
                      "value": "rest",
                      "description": "A Representational State Transfer Api"
                    },
                    {
                      "name": "graphql",
                      "value": "graphql",
                      "description": "A Graph query language Api"
                    },
                    {
                      "name": "grpc",
                      "value": "grpc",
                      "description": "A gRPC Api"
                    },
                    {
                      "name": "soap",
                      "value": "soap",
                      "description": "A SOAP Api"
                    },
                    {
                      "name": "webhook",
                      "value": "webhook",
                      "description": "Web Hook"
                    },
                    {
                      "name": "websocket",
                      "value": "websocket",
                      "description": "Web Socket"
                    }
                  ]
                }
              },
              "description": {
                "maxLength": 1000,
                "type": "string",
                "description": "Description of the API."
              },
              "summary": {
                "maxLength": 200,
                "type": "string",
                "description": "Short description of the API."
              },
              "lifecycleStage": {
                "type": "string",
                "description": "The stage of the Api development lifecycle",
                "enum": [
                  "design",
                  "development",
                  "testing",
                  "preview",
                  "production",
                  "deprecated",
                  "retired"
                ],
                "x-ms-enum": {
                  "name": "LifecycleStage",
                  "modelAsString": true,
                  "values": [
                    {
                      "name": "design",
                      "value": "design",
                      "description": "design stage"
                    },
                    {
                      "name": "development",
                      "value": "development",
                      "description": "development stage"
                    },
                    {
                      "name": "testing",
                      "value": "testing",
                      "description": "testing stage"
                    },
                    {
                      "name": "preview",
                      "value": "preview",
                      "description": "In preview"
                    },
                    {
                      "name": "production",
                      "value": "production",
                      "description": "In production"
                    },
                    {
                      "name": "deprecated",
                      "value": "deprecated",
                      "description": "deprecated stage"
                    },
                    {
                      "name": "retired",
                      "value": "retired",
                      "description": "Retired stage"
                    }
                  ]
                }
              },
              "termsOfService": {
                "required": [
                  "url"
                ],
                "type": "object",
                "properties": {
                  "url": {
                    "maxLength": 200,
                    "type": "string",
                    "description": "URL pointing to the terms of service.",
                    "format": "uri"
                  }
                },
                "description": "Terms of service for the API."
              },
              "externalDocumentation": {
                "maxItems": 20,
                "type": "array",
                "description": "The set of external documentation",
                "items": {
                  "required": [
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "title": {
                      "maxLength": 50,
                      "type": "string",
                      "description": "Title of the documentation."
                    },
                    "description": {
                      "maxLength": 500,
                      "type": "string",
                      "description": "Description of the documentation."
                    },
                    "url": {
                      "maxLength": 200,
                      "type": "string",
                      "description": "URL pointing to the documentation.",
                      "format": "uri"
                    }
                  },
                  "description": "Additional, external documentation for the API."
                },
                "x-ms-identifiers": []
              },
              "contacts": {
                "type": "array",
                "description": "The set of contacts",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "maxLength": 100,
                      "type": "string",
                      "description": "Name of the contact."
                    },
                    "url": {
                      "maxLength": 200,
                      "type": "string",
                      "description": "URL for the contact.",
                      "format": "uri"
                    },
                    "email": {
                      "maxLength": 100,
                      "type": "string",
                      "description": "Email address of the contact."
                    }
                  },
                  "description": "Contact information"
                },
                "x-ms-identifiers": []
              },
              "license": {
                "type": "object",
                "properties": {
                  "name": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "Name of the license."
                  },
                  "url": {
                    "maxLength": 200,
                    "type": "string",
                    "description": "URL pointing to the license details. The URL field is mutually exclusive of the\nidentifier field.",
                    "format": "uri"
                  },
                  "identifier": {
                    "maxLength": 50,
                    "type": "string",
                    "description": "SPDX license information for the API. The identifier field is mutually\nexclusive of the URL field.",
                    "format": "uri"
                  }
                },
                "description": "The license information for the API."
              },
              "customProperties": {
                "type": "object",
                "description": "The custom metadata defined for API catalog entities."
              }
            },
            "description": "API properties."
          }
        },
        "description": "API entity.",
        "allOf": [
          {
            "title": "Proxy Resource",
            "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
            "allOf": [
              {
                "title": "Resource",
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
                    "format": "arm-id",
                    "readOnly": true
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the resource",
                    "readOnly": true
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
                    "readOnly": true
                  },
                  "systemData": {
                    "type": "object",
                    "properties": {
                      "createdBy": {
                        "type": "string",
                        "description": "The identity that created the resource."
                      },
                      "createdByType": {
                        "type": "string",
                        "description": "The type of identity that created the resource.",
                        "enum": [
                          "User",
                          "Application",
                          "ManagedIdentity",
                          "Key"
                        ],
                        "x-ms-enum": {
                          "name": "createdByType",
                          "modelAsString": true
                        }
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "The timestamp of resource creation (UTC).",
                        "format": "date-time"
                      },
                      "lastModifiedBy": {
                        "type": "string",
                        "description": "The identity that last modified the resource."
                      },
                      "lastModifiedByType": {
                        "type": "string",
                        "description": "The type of identity that last modified the resource.",
                        "enum": [
                          "User",
                          "Application",
                          "ManagedIdentity",
                          "Key"
                        ],
                        "x-ms-enum": {
                          "name": "createdByType",
                          "modelAsString": true
                        }
                      },
                      "lastModifiedAt": {
                        "type": "string",
                        "description": "The timestamp of resource last modification (UTC)",
                        "format": "date-time"
                      }
                    },
                    "description": "Metadata pertaining to creation and last modification of the resource."
                  }
                },
                "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
                "x-ms-azure-resource": true
              }
            ]
          }
        ]
      },
      "ApiDefinition": {
        "properties": {
          "properties": {
            "required": [
              "title"
            ],
            "type": "object",
            "properties": {
              "title": {
                "maxLength": 50,
                "minLength": 1,
                "type": "string",
                "description": "API definition title."
              },
              "description": {
                "type": "string",
                "description": "API definition description."
              },
              "specification": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Specification name."
                  },
                  "version": {
                    "type": "string",
                    "description": "Specification version."
                  }
                },
                "description": "API specification details."
              }
            },
            "description": "API definition properties entity."
          }
        },
        "description": "API definition entity.",
        "allOf": [
          {
            "title": "Proxy Resource",
            "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
            "allOf": [
              {
                "title": "Resource",
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
                    "format": "arm-id",
                    "readOnly": true
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the resource",
                    "readOnly": true
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
                    "readOnly": true
                  },
                  "systemData": {
                    "type": "object",
                    "properties": {
                      "createdBy": {
                        "type": "string",
                        "description": "The identity that created the resource."
                      },
                      "createdByType": {
                        "type": "string",
                        "description": "The type of identity that created the resource.",
                        "enum": [
                          "User",
                          "Application",
                          "ManagedIdentity",
                          "Key"
                        ],
                        "x-ms-enum": {
                          "name": "createdByType",
                          "modelAsString": true
                        }
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "The timestamp of resource creation (UTC).",
                        "format": "date-time"
                      },
                      "lastModifiedBy": {
                        "type": "string",
                        "description": "The identity that last modified the resource."
                      },
                      "lastModifiedByType": {
                        "type": "string",
                        "description": "The type of identity that last modified the resource.",
                        "enum": [
                          "User",
                          "Application",
                          "ManagedIdentity",
                          "Key"
                        ],
                        "x-ms-enum": {
                          "name": "createdByType",
                          "modelAsString": true
                        }
                      },
                      "lastModifiedAt": {
                        "type": "string",
                        "description": "The timestamp of resource last modification (UTC)",
                        "format": "date-time"
                      }
                    },
                    "description": "Metadata pertaining to creation and last modification of the resource."
                  }
                },
                "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
                "x-ms-azure-resource": true
              }
            ]
          }
        ]
      },
      "ApiDefinitionListResult": {
        "required": [
          "value"
        ],
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "description": "The ApiDefinition items on this page",
            "readOnly": true,
            "items": {
              "properties": {
                "properties": {
                  "required": [
                    "title"
                  ],
                  "type": "object",
                  "properties": {
                    "title": {
                      "maxLength": 50,
                      "minLength": 1,
                      "type": "string",
                      "description": "API definition title."
                    },
                    "description": {
                      "type": "string",
                      "description": "API definition description."
                    },
                    "specification": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Specification name."
                        },
                        "version": {
                          "type": "string",
                          "description": "Specification version."
                        }
                      },
                      "description": "API specification details."
                    }
                  },
                  "description": "API definition properties entity."
                }
              },
              "description": "API definition entity.",
              "allOf": [
                {
                  "title": "Proxy Resource",
                  "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
                  "allOf": [
                    {
                      "title": "Resource",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
                          "format": "arm-id",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the resource",
                          "readOnly": true
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
                          "readOnly": true
                        },
                        "systemData": {
                          "type": "object",
                          "properties": {
                            "createdBy": {
                              "type": "string",
                              "description": "The identity that created the resource."
                            },
                            "createdByType": {
                              "type": "string",
                              "description": "The type of identity that created the resource.",
                              "enum": [
                                "User",
                                "Application",
                                "ManagedIdentity",
                                "Key"
                              ],
                              "x-ms-enum": {
                                "name": "createdByType",
                                "modelAsString": true
                              }
                            },
                            "createdAt": {
                              "type": "string",
                              "description": "The timestamp of resource creation (UTC).",
                              "format": "date-time"
                            },
                            "lastModifiedBy": {
                              "type": "string",
                              "description": "The identity that last modified the resource."
                            },
                            "lastModifiedByType": {
                              "type": "string",
                              "description": "The type of identity that last modified the resource.",
                              "enum": [
                                "User",
                                "Application",
                                "ManagedIdentity",
                                "Key"
                              ],
                              "x-ms-enum": {
                                "name": "createdByType",
                                "modelAsString": true
                              }
                            },
                            "lastModifiedAt": {
                              "type": "string",
                              "description": "The timestamp of resource last modification (UTC)",
                              "format": "date-time"
                            }
                          },
                          "description": "Metadata pertaining to creation and last modification of the resource."
                        }
                      },
                      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
                      "x-ms-azure-resource": true
                    }
                  ]
                }
              ]
            }
          },
          "nextLink": {
            "type": "string",
            "description": "The link to the next page of items",
            "format": "uri",
            "readOnly": true
          }
        },
        "description": "The response of a ApiDefinition list operation."
      },
      "ApiDefinitionProperties": {
        "required": [
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "API definition title."
          },
          "description": {
            "type": "string",
            "description": "API definition description."
          },
          "specification": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Specification name."
              },
              "version": {
                "type": "string",
                "description": "Specification version."
              }
            },
            "description": "API specification details."
          }
        },
        "description": "API definition properties entity."
      },
      "ApiDefinitionPropertiesSpecification": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Specification name."
          },
          "version": {
            "type": "string",
            "description": "Specification version."
          }
        },
        "description": "API specification details."
      },
      "ApiImportSuccess": {
        "type": "object",
        "description": "The API specification was successfully imported."
      },
      "ApiKind": {
        "type": "string",
        "description": "The kind of the API",
        "enum": [
          "rest",
          "graphql",
          "grpc",
          "soap",
          "webhook",
          "websocket"
        ],
        "x-ms-enum": {
          "name": "ApiKind",
          "modelAsString": true,
          "values": [
            {
              "name": "rest",
              "value": "rest",
              "description": "A Representational State Transfer Api"
            },
            {
              "name": "graphql",
              "value": "graphql",
              "description": "A Graph query language Api"
            },
            {
              "name": "grpc",
              "value": "grpc",
              "description": "A gRPC Api"
            },
            {
              "name": "soap",
              "value": "soap",
              "description": "A SOAP Api"
            },
            {
              "name": "webhook",
              "value": "webhook",
              "description": "Web Hook"
            },
            {
              "name": "websocket",
              "value": "websocket",
              "description": "Web Socket"
            }
          ]
        }
      },
      "ApiListResult": {
        "required": [
          "value"
        ],
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "description": "The Api items on this page",
            "readOnly": true,
            "items": {
              "properties": {
                "properties": {
                  "required": [
                    "kind",
                    "title"
                  ],
                  "type": "object",
                  "properties": {
                    "title": {
                      "maxLength": 50,
                      "minLength": 1,
                      "type": "string",
                      "description": "API title."
                    },
                    "kind": {
                      "type": "string",
                      "description": "The kind of the API",
                      "enum": [
                        "rest",
                        "graphql",
                        "grpc",
                        "soap",
                        "webhook",
                        "websocket"
                      ],
                      "x-ms-enum": {
                        "name": "ApiKind",
                        "modelAsString": true,
                        "values": [
                          {
                            "name": "rest",
                            "value": "rest",
                            "description": "A Representational State Transfer Api"
                          },
                          {
                            "name": "graphql",
                            "value": "graphql",
                            "description": "A Graph query language Api"
                          },
                          {
                            "name": "grpc",
                            "value": "grpc",
                            "description": "A gRPC Api"
                          },
                          {
                            "name": "soap",
                            "value": "soap",
                            "description": "A SOAP Api"
                          },
                          {
                            "name": "webhook",
                            "value": "webhook",
                            "description": "Web Hook"
                          },
                          {
                            "name": "websocket",
                            "value": "websocket",
                            "description": "Web Socket"
                          }
                        ]
                      }
                    },
                    "description": {
                      "maxLength": 1000,
                      "type": "string",
                      "description": "Description of the API."
                    },
                    "summary": {
                      "maxLength": 200,
                      "type": "string",
                      "description": "Short description of the API."
                    },
                    "lifecycleStage": {
                      "type": "string",
                      "description": "The stage of the Api development lifecycle",
                      "enum": [
                        "design",
                        "development",
                        "testing",
                        "preview",
                        "production",
                        "deprecated",
                        "retired"
                      ],
                      "x-ms-enum": {
                        "name": "LifecycleStage",
                        "modelAsString": true,
                        "values": [
                          {
                            "name": "design",
                            "value": "design",
                            "description": "design stage"
                          },
                          {
                            "name": "development",
                            "value": "development",
                            "description": "development stage"
                          },
                          {
                            "name": "testing",
                            "value": "testing",
                            "description": "testing stage"
                          },
                          {
                            "name": "preview",
                            "value": "preview",
                            "description": "In preview"
                          },
                          {
                            "name": "production",
                            "value": "production",
                            "description": "In production"
                          },
                          {
                            "name": "deprecated",
                            "value": "deprecated",
                            "description": "deprecated stage"
                          },
                          {
                            "name": "retired",
                            "value": "retired",
                            "description": "Retired stage"
                          }
                        ]
                      }
                    },
                    "termsOfService": {
                      "required": [
                        "url"
                      ],
                      "type": "object",
                      "properties": {
                        "url": {
                          "maxLength": 200,
                          "type": "string",
                          "description": "URL pointing to the terms of service.",
                          "format": "uri"
                        }
                      },
                      "description": "Terms of service for the API."
                    },
                    "externalDocumentation": {
                      "maxItems": 20,
                      "type": "array",
                      "description": "The set of external documentation",
                      "items": {
                        "required": [
                          "url"
                        ],
                        "type": "object",
                        "properties": {
                          "title": {
                            "maxLength": 50,
                            "type": "string",
                            "description": "Title of the documentation."
                          },
                          "description": {
                            "maxLength": 500,
                            "type": "string",
                            "description": "Description of the documentation."
                          },
                          "url": {
                            "maxLength": 200,
                            "type": "string",
                            "description": "URL pointing to the documentation.",
                            "format": "uri"
                          }
                        },
                        "description": "Additional, external documentation for the API."
                      },
                      "x-ms-identifiers": []
                    },
                    "contacts": {
                      "type": "array",
                      "description": "The set of contacts",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "maxLength": 100,
                            "type": "string",
                            "description": "Name of the contact."
                          },
                          "url": {
                            "maxLength": 200,
                            "type": "string",
                            "description": "URL for the contact.",
                            "format": "uri"
                          },
                          "email": {
                            "maxLength": 100,
                            "type": "string",
                            "description": "Email address of the contact."
                          }
                        },
                        "description": "Contact information"
                      },
                      "x-ms-identifiers": []
                    },
                    "license": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "maxLength": 100,
                          "type": "string",
                          "description": "Name of the license."
                        },
                        "url": {
                          "maxLength": 200,
                          "type": "string",
                          "description": "URL pointing to the license details. The URL field is mutually exclusive of the\nidentifier field.",
                          "format": "uri"
                        },
                        "identifier": {
                          "maxLength": 50,
                          "type": "string",
                          "description": "SPDX license information for the API. The identifier field is mutually\nexclusive of the URL field.",
                          "format": "uri"
                        }
                      },
                      "description": "The license information for the API."
                    },
                    "customProperties": {
                      "type": "object",
                      "description": "The custom metadata defined for API catalog entities."
                    }
                  },
                  "description": "API properties."
                }
              },
              "description": "API entity.",
              "allOf": [
                {
                  "title": "Proxy Resource",
                  "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
                  "allOf": [
                    {
                      "title": "Resource",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
                          "format": "arm-id",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the resource",
                          "readOnly": true
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
                          "readOnly": true
                        },
                        "systemData": {
                          "type": "object",
                          "properties": {
                            "createdBy": {
                              "type": "string",
                              "description": "The identity that created the resource."
                            },
                            "createdByType": {
                              "type": "string",
                              "description": "The type of identity that created the resource.",
                              "enum": [
                                "User",
                                "Application",
                                "ManagedIdentity",
                                "Key"
                              ],
                              "x-ms-enum": {
                                "name": "createdByType",
                                "modelAsString": true
                              }
                            },
                            "createdAt": {
                              "type": "string",
                              "description": "The timestamp of resource creation (UTC).",
                              "format": "date-time"
                            },
                            "lastModifiedBy": {
                              "type": "string",
                              "description": "The identity that last modified the resource."
                            },
                            "lastModifiedByType": {
                              "type": "string",
                              "description": "The type of identity that last modified the resource.",
                              "enum": [
                                "User",
                                "Application",
                                "ManagedIdentity",
                                "Key"
                              ],
                              "x-ms-enum": {
                                "name": "createdByType",
                                "modelAsString": true
                              }
                            },
                            "lastModifiedAt": {
                              "type": "string",
                              "description": "The timestamp of resource last modification (UTC)",
                              "format": "date-time"
                            }
                          },
                          "description": "Metadata pertaining to creation and last modification of the resource."
                        }
                      },
                      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
                      "x-ms-azure-resource": true
                    }
                  ]
                }
              ]
            }
          },
          "nextLink": {
            "type": "string",
            "description": "The link to the next page of items",
            "format": "uri",
            "readOnly": true
          }
        },
        "description": "The response of a Api list operation."
      },
      "ApiProperties": {
        "required": [
          "kind",
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "API title."
          },
          "kind": {
            "type": "string",
            "description": "The kind of the API",
            "enum": [
              "rest",
              "graphql",
              "grpc",
              "soap",
              "webhook",
              "websocket"
            ],
            "x-ms-enum": {
              "name": "ApiKind",
              "modelAsString": true,
              "values": [
                {
                  "name": "rest",
                  "value": "rest",
                  "description": "A Representational State Transfer Api"
                },
                {
                  "name": "graphql",
                  "value": "graphql",
                  "description": "A Graph query language Api"
                },
                {
                  "name": "grpc",
                  "value": "grpc",
                  "description": "A gRPC Api"
                },
                {
                  "name": "soap",
                  "value": "soap",
                  "description": "A SOAP Api"
                },
                {
                  "name": "webhook",
                  "value": "webhook",
                  "description": "Web Hook"
                },
                {
                  "name": "websocket",
                  "value": "websocket",
                  "description": "Web Socket"
                }
              ]
            }
          },
          "description": {
            "maxLength": 1000,
            "type": "string",
            "description": "Description of the API."
          },
          "summary": {
            "maxLength": 200,
            "type": "string",
            "description": "Short description of the API."
          },
          "lifecycleStage": {
            "type": "string",
            "description": "The stage of the Api development lifecycle",
            "enum": [
              "design",
              "development",
              "testing",
              "preview",
              "production",
              "deprecated",
              "retired"
            ],
            "x-ms-enum": {
              "name": "LifecycleStage",
              "modelAsString": true,
              "values": [
                {
                  "name": "design",
                  "value": "design",
                  "description": "design stage"
                },
                {
                  "name": "development",
                  "value": "development",
                  "description": "development stage"
                },
                {
                  "name": "testing",
                  "value": "testing",
                  "description": "testing stage"
                },
                {
                  "name": "preview",
                  "value": "preview",
                  "description": "In preview"
                },
                {
                  "name": "production",
                  "value": "production",
                  "description": "In production"
                },
                {
                  "name": "deprecated",
                  "value": "deprecated",
                  "description": "deprecated stage"
                },
                {
                  "name": "retired",
                  "value": "retired",
                  "description": "Retired stage"
                }
              ]
            }
          },
          "termsOfService": {
            "required": [
              "url"
            ],
            "type": "object",
            "properties": {
              "url": {
                "maxLength": 200,
                "type": "string",
                "description": "URL pointing to the terms of service.",
                "format": "uri"
              }
            },
            "description": "Terms of service for the API."
          },
          "externalDocumentation": {
            "maxItems": 20,
            "type": "array",
            "description": "The set of external documentation",
            "items": {
              "required": [
                "url"
              ],
              "type": "object",
              "properties": {
                "title": {
                  "maxLength": 50,
                  "type": "string",
                  "description": "Title of the documentation."
                },
                "description": {
                  "maxLength": 500,
                  "type": "string",
                  "description": "Description of the documentation."
                },
                "url": {
                  "maxLength": 200,
                  "type": "string",
                  "description": "URL pointing to the documentation.",
                  "format": "uri"
                }
              },
              "description": "Additional, external documentation for the API."
            },
            "x-ms-identifiers": []
          },
          "contacts": {
            "type": "array",
            "description": "The set of contacts",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "maxLength": 100,
                  "type": "string",
                  "description": "Name of the contact."
                },
                "url": {
                  "maxLength": 200,
                  "type": "string",
                  "description": "URL for the contact.",
                  "format": "uri"
                },
                "email": {
                  "maxLength": 100,
                  "type": "string",
                  "description": "Email address of the contact."
                }
              },
              "description": "Contact information"
            },
            "x-ms-identifiers": []
          },
          "license": {
            "type": "object",
            "properties": {
              "name": {
                "maxLength": 100,
                "type": "string",
                "description": "Name of the license."
              },
              "url": {
                "maxLength": 200,
                "type": "string",
                "description": "URL pointing to the license details. The URL field is mutually exclusive of the\nidentifier field.",
                "format": "uri"
              },
              "identifier": {
                "maxLength": 50,
                "type": "string",
                "description": "SPDX license information for the API. The identifier field is mutually\nexclusive of the URL field.",
                "format": "uri"
              }
            },
            "description": "The license information for the API."
          },
          "customProperties": {
            "type": "object",
            "description": "The custom metadata defined for API catalog entities."
          }
        },
        "description": "API properties."
      },
      "ApiSpecExportResult": {
        "type": "object",
        "properties": {
          "format": {
            "type": "string",
            "description": "Result format for exported Api spec",
            "enum": [
              "inline",
              "link"
            ],
            "x-ms-enum": {
              "name": "ApiSpecExportResultFormat",
              "modelAsString": true,
              "values": [
                {
                  "name": "inline",
                  "value": "inline",
                  "description": "The inlined content of a specification document."
                },
                {
                  "name": "link",
                  "value": "link",
                  "description": "The link to the result of the export operation. The URL is valid for 5 minutes."
                }
              ]
            }
          },
          "value": {
            "type": "string",
            "description": "The result of the export operation."
          }
        },
        "description": "The API specification export result."
      },
      "ApiSpecExportResultFormat": {
        "type": "string",
        "description": "Result format for exported Api spec",
        "enum": [
          "inline",
          "link"
        ],
        "x-ms-enum": {
          "name": "ApiSpecExportResultFormat",
          "modelAsString": true,
          "values": [
            {
              "name": "inline",
              "value": "inline",
              "description": "The inlined content of a specification document."
            },
            {
              "name": "link",
              "value": "link",
              "description": "The link to the result of the export operation. The URL is valid for 5 minutes."
            }
          ]
        }
      },
      "ApiSpecImportRequest": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Value of the API specification source."
          },
          "format": {
            "type": "string",
            "description": "Source format for imported Api spec",
            "enum": [
              "inline",
              "link"
            ],
            "x-ms-enum": {
              "name": "ApiSpecImportSourceFormat",
              "modelAsString": true,
              "values": [
                {
                  "name": "inline",
                  "value": "inline",
                  "description": "The inlined content of a specification document."
                },
                {
                  "name": "link",
                  "value": "link",
                  "description": "The link to a specification document hosted on a publicly accessible internet\naddress."
                }
              ]
            }
          },
          "specification": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Specification name."
              },
              "version": {
                "type": "string",
                "description": "Specification version."
              }
            },
            "description": "API specification details."
          }
        },
        "description": "The API specification source entity properties."
      },
      "ApiSpecImportRequestSpecification": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Specification name."
          },
          "version": {
            "type": "string",
            "description": "Specification version."
          }
        },
        "description": "API specification details."
      },
      "ApiSpecImportSourceFormat": {
        "type": "string",
        "description": "Source format for imported Api spec",
        "enum": [
          "inline",
          "link"
        ],
        "x-ms-enum": {
          "name": "ApiSpecImportSourceFormat",
          "modelAsString": true,
          "values": [
            {
              "name": "inline",
              "value": "inline",
              "description": "The inlined content of a specification document."
            },
            {
              "name": "link",
              "value": "link",
              "description": "The link to a specification document hosted on a publicly accessible internet\naddress."
            }
          ]
        }
      },
      "ApiVersion": {
        "properties": {
          "properties": {
            "required": [
              "lifecycleStage",
              "title"
            ],
            "type": "object",
            "properties": {
              "title": {
                "maxLength": 50,
                "minLength": 1,
                "type": "string",
                "description": "API version title."
              },
              "lifecycleStage": {
                "type": "string",
                "description": "The stage of the Api development lifecycle",
                "enum": [
                  "design",
                  "development",
                  "testing",
                  "preview",
                  "production",
                  "deprecated",
                  "retired"
                ],
                "x-ms-enum": {
                  "name": "LifecycleStage",
                  "modelAsString": true,
                  "values": [
                    {
                      "name": "design",
                      "value": "design",
                      "description": "design stage"
                    },
                    {
                      "name": "development",
                      "value": "development",
                      "description": "development stage"
                    },
                    {
                      "name": "testing",
                      "value": "testing",
                      "description": "testing stage"
                    },
                    {
                      "name": "preview",
                      "value": "preview",
                      "description": "In preview"
                    },
                    {
                      "name": "production",
                      "value": "production",
                      "description": "In production"
                    },
                    {
                      "name": "deprecated",
                      "value": "deprecated",
                      "description": "deprecated stage"
                    },
                    {
                      "name": "retired",
                      "value": "retired",
                      "description": "Retired stage"
                    }
                  ]
                }
              }
            },
            "description": "API version properties entity."
          }
        },
        "description": "API version entity.",
        "allOf": [
          {
            "title": "Proxy Resource",
            "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
            "allOf": [
              {
                "title": "Resource",
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
                    "format": "arm-id",
                    "readOnly": true
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the resource",
                    "readOnly": true
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
                    "readOnly": true
                  },
                  "systemData": {
                    "type": "object",
                    "properties": {
                      "createdBy": {
                        "type": "string",
                        "description": "The identity that created the resource."
                      },
                      "createdByType": {
                        "type": "string",
                        "description": "The type of identity that created the resource.",
                        "enum": [
                          "User",
                          "Application",
                          "ManagedIdentity",
                          "Key"
                        ],
                        "x-ms-enum": {
                          "name": "createdByType",
                          "modelAsString": true
                        }
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "The timestamp of resource creation (UTC).",
                        "format": "date-time"
                      },
                      "lastModifiedBy": {
                        "type": "string",
                        "description": "The identity that last modified the resource."
                      },
                      "lastModifiedByType": {
                        "type": "string",
                        "description": "The type of identity that last modified the resource.",
                        "enum": [
                          "User",
                          "Application",
                          "ManagedIdentity",
                          "Key"
                        ],
                        "x-ms-enum": {
                          "name": "createdByType",
                          "modelAsString": true
                        }
                      },
                      "lastModifiedAt": {
                        "type": "string",
                        "description": "The timestamp of resource last modification (UTC)",
                        "format": "date-time"
                      }
                    },
                    "description": "Metadata pertaining to creation and last modification of the resource."
                  }
                },
                "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
                "x-ms-azure-resource": true
              }
            ]
          }
        ]
      },
      "ApiVersionListResult": {
        "required": [
          "value"
        ],
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "description": "The ApiVersion items on this page",
            "readOnly": true,
            "items": {
              "properties": {
                "properties": {
                  "required": [
                    "lifecycleStage",
                    "title"
                  ],
                  "type": "object",
                  "properties": {
                    "title": {
                      "maxLength": 50,
                      "minLength": 1,
                      "type": "string",
                      "description": "API version title."
                    },
                    "lifecycleStage": {
                      "type": "string",
                      "description": "The stage of the Api development lifecycle",
                      "enum": [
                        "design",
                        "development",
                        "testing",
                        "preview",
                        "production",
                        "deprecated",
                        "retired"
                      ],
                      "x-ms-enum": {
                        "name": "LifecycleStage",
                        "modelAsString": true,
                        "values": [
                          {
                            "name": "design",
                            "value": "design",
                            "description": "design stage"
                          },
                          {
                            "name": "development",
                            "value": "development",
                            "description": "development stage"
                          },
                          {
                            "name": "testing",
                            "value": "testing",
                            "description": "testing stage"
                          },
                          {
                            "name": "preview",
                            "value": "preview",
                            "description": "In preview"
                          },
                          {
                            "name": "production",
                            "value": "production",
                            "description": "In production"
                          },
                          {
                            "name": "deprecated",
                            "value": "deprecated",
                            "description": "deprecated stage"
                          },
                          {
                            "name": "retired",
                            "value": "retired",
                            "description": "Retired stage"
                          }
                        ]
                      }
                    }
                  },
                  "description": "API version properties entity."
                }
              },
              "description": "API version entity.",
              "allOf": [
                {
                  "title": "Proxy Resource",
                  "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
                  "allOf": [
                    {
                      "title": "Resource",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
                          "format": "arm-id",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the resource",
                          "readOnly": true
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
                          "readOnly": true
                        },
                        "systemData": {
                          "type": "object",
                          "properties": {
                            "createdBy": {
                              "type": "string",
                              "description": "The identity that created the resource."
                            },
                            "createdByType": {
                              "type": "string",
                              "description": "The type of identity that created the resource.",
                              "enum": [
                                "User",
                                "Application",
                                "ManagedIdentity",
                                "Key"
                              ],
                              "x-ms-enum": {
                                "name": "createdByType",
                                "modelAsString": true
                              }
                            },
                            "createdAt": {
                              "type": "string",
                              "description": "The timestamp of resource creation (UTC).",
                              "format": "date-time"
                            },
                            "lastModifiedBy": {
                              "type": "string",
                              "description": "The identity that last modified the resource."
                            },
                            "lastModifiedByType": {
                              "type": "string",
                              "description": "The type of identity that last modified the resource.",
                              "enum": [
                                "User",
                                "Application",
                                "ManagedIdentity",
                                "Key"
                              ],
                              "x-ms-enum": {
                                "name": "createdByType",
                                "modelAsString": true
                              }
                            },
                            "lastModifiedAt": {
                              "type": "string",
                              "description": "The timestamp of resource last modification (UTC)",
                              "format": "date-time"
                            }
                          },
                          "description": "Metadata pertaining to creation and last modification of the resource."
                        }
                      },
                      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
                      "x-ms-azure-resource": true
                    }
                  ]
                }
              ]
            }
          },
          "nextLink": {
            "type": "string",
            "description": "The link to the next page of items",
            "format": "uri",
            "readOnly": true
          }
        },
        "description": "The response of a ApiVersion list operation."
      },
      "ApiVersionProperties": {
        "required": [
          "lifecycleStage",
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "API version title."
          },
          "lifecycleStage": {
            "type": "string",
            "description": "The stage of the Api development lifecycle",
            "enum": [
              "design",
              "development",
              "testing",
              "preview",
              "production",
              "deprecated",
              "retired"
            ],
            "x-ms-enum": {
              "name": "LifecycleStage",
              "modelAsString": true,
              "values": [
                {
                  "name": "design",
                  "value": "design",
                  "description": "design stage"
                },
                {
                  "name": "development",
                  "value": "development",
                  "description": "development stage"
                },
                {
                  "name": "testing",
                  "value": "testing",
                  "description": "testing stage"
                },
                {
                  "name": "preview",
                  "value": "preview",
                  "description": "In preview"
                },
                {
                  "name": "production",
                  "value": "production",
                  "description": "In production"
                },
                {
                  "name": "deprecated",
                  "value": "deprecated",
                  "description": "deprecated stage"
                },
                {
                  "name": "retired",
                  "value": "retired",
                  "description": "Retired stage"
                }
              ]
            }
          }
        },
        "description": "API version properties entity."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 100,
            "type": "string",
            "description": "Name of the contact."
          },
          "url": {
            "maxLength": 200,
            "type": "string",
            "description": "URL for the contact.",
            "format": "uri"
          },
          "email": {
            "maxLength": 100,
            "type": "string",
            "description": "Email address of the contact."
          }
        },
        "description": "Contact information"
      },
      "CreatedByType": {
        "type": "string",
        "description": "How the resource was created",
        "enum": [
          "User",
          "Application",
          "ManagedIdentity",
          "Key"
        ],
        "x-ms-enum": {
          "name": "CreatedByType",
          "modelAsString": true,
          "values": [
            {
              "name": "User",
              "value": "User",
              "description": "Created by user"
            },
            {
              "name": "Application",
              "value": "Application",
              "description": "Created by Application"
            },
            {
              "name": "ManagedIdentity",
              "value": "ManagedIdentity",
              "description": "Created by Managed Identity"
            },
            {
              "name": "Key",
              "value": "Key",
              "description": "Created By Key"
            }
          ]
        }
      },
      "CustomProperties": {
        "type": "object",
        "description": "The custom metadata defined for API catalog entities."
      },
      "Deployment": {
        "properties": {
          "properties": {
            "type": "object",
            "properties": {
              "title": {
                "maxLength": 50,
                "minLength": 1,
                "type": "string",
                "description": "API deployment title"
              },
              "description": {
                "maxLength": 500,
                "type": "string",
                "description": "Description of the deployment."
              },
              "environmentId": {
                "type": "string",
                "description": "API center-scoped environment resource ID."
              },
              "definitionId": {
                "type": "string",
                "description": "API center-scoped definition resource ID."
              },
              "state": {
                "type": "string",
                "description": "State of the Deployment",
                "enum": [
                  "active",
                  "inactive"
                ],
                "x-ms-enum": {
                  "name": "DeploymentState",
                  "modelAsString": true,
                  "values": [
                    {
                      "name": "active",
                      "value": "active",
                      "description": "Active State"
                    },
                    {
                      "name": "inactive",
                      "value": "inactive",
                      "description": "Inactive State"
                    }
                  ]
                }
              },
              "server": {
                "type": "object",
                "properties": {
                  "runtimeUri": {
                    "type": "array",
                    "description": "Base runtime URLs for this deployment.",
                    "items": {
                      "maxLength": 200,
                      "type": "string",
                      "description": "Used for restricted length uris",
                      "format": "uri"
                    }
                  }
                },
                "description": "Server"
              },
              "customProperties": {
                "type": "object",
                "description": "The custom metadata defined for API catalog entities."
              }
            },
            "description": "API deployment entity properties."
          }
        },
        "description": "API deployment entity.",
        "allOf": [
          {
            "title": "Proxy Resource",
            "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
            "allOf": [
              {
                "title": "Resource",
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
                    "format": "arm-id",
                    "readOnly": true
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the resource",
                    "readOnly": true
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
                    "readOnly": true
[...]
